example.aux
example.log
example.synctex.gz
example.pdf

flgann_soca2018.log
flgann_soca2018.aux
flgann_soca2018.pdf
flgann_soca2018.synctex.gz


slide_conference-blx.bib
slide_conference.toc
slide_conference.synctex.gz
slide_conference.snm
slide_conference.run.xml
slide_conference.pdf
slide_conference.out
slide_conference.nav
slide_conference.log
slide_conference.aux


taiwan/thieunguyen-blx.bib
taiwan/thieunguyen.toc
taiwan/thieunguyen.synctex.gz
taiwan/thieunguyen.snm
taiwan/thieunguyen.run.xml
taiwan/thieunguyen.pdf
taiwan/thieunguyen.out
taiwan/thieunguyen.nav
taiwan/thieunguyen.log
taiwan/thieunguyen.aux

